@import './_colors';
@import './_mixins';

.search-input-wrapper {
  position: relative;
  height: 100px;
  width: 100%;
  padding: 20px 8px;
  text-align: left;
}
.search-input {
  display: inline-block;
  width: 80%;
  box-shadow: none;
  @include border-radius-separate(5px, 0, 5px, 0);
  &:focus{
    box-shadow: none;
  }
}
.filter-button {
  display: inline-block;
  >button {
    height: 34px;
    padding: 0 10px;
    margin-left: -1px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    @include border-radius-separate(0, 5px, 0, 5px);
    &:hover {
      border-color: #66afe9;
    }
  }
}
.search-input-suggestion-wrapper {
  position: absolute;
  width: 100%;
  z-index: 20;
}
.suggestion-list {
  background-color: rgba(255,255,255,0.95);
  width: 100%;
  list-style: none;
  text-align: left;
  box-shadow: 0 2px 4px rgba(0,0,0,.2);
  padding: 0 5px;
  >li {
    padding: 5px 20px;
    &:hover {
      background-color: #eee;
      cursor: pointer;
    }
  }
}